<!DOCTYPE html>
<html>
  <head>
  		<% include partials/template/head.ejs %>
  </head>
  <body>
  		<% include partials/template/header.ejs %>

<!--     <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

    		
    		<section class="primary">

         
            <img id="part" src="../images/obj1.svg">
        



            <img class="stitch" src="../images/obj2.svg">




            <img class="letters" src="../images/obj3.svg">




            <img class="bar" src="../images/bar.svg">


    		</section>


    		<section class="secondary">
    			<% include partials/content/quote.ejs %>
    		</section>




    	<% include partials/template/footer.ejs %>
      	<% include partials/template/jsdefaults.ejs %>

  </body>
</html>
