<!DOCTYPE html>
<html>
  <head>
  		<% include partials/template/head.ejs %>
  </head>
  <body onLoad="myLoader()">


  		<% include partials/template/header.ejs %>

<!--     <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->




    		
        <div id="coat">

          <img src="http://rudes.de/images/logo3.svg">

        </div>

    		<section class="primary">

         
            <img id="part" src="http://rudes.de/images/obj1.svg">
        
            <img id="part2" src="http://rudes.de/images/gray.png">


        <style>

            .svg-clipped {
                -webkit-clip-path: url(#svgPath);
                clip-path: url(#svgPath);

            }

            

        </style>

<!--           <div class="move">
          <img src="../images/bridge.jpg" class="svg-clipped">


          <svg>
            <defs>
                <clipPath id="svgPath">
                    <path id="shape" d="M91.984,298.159c-47.346,23-79.985,71.538-79.985,127.709c0,44.744,20.729,84.63,53.084,110.638
                      c-2.967,24.682,6.319,56.567,6.319,56.567s28.552-0.496,58.433-8.341c22.688-5.954,62.138-12.805,92.925-34.779
                      c43.563-24.224,73.055-70.7,73.055-124.085c0-37.368-14.465-71.339-38.072-96.681c6.646-9.933,13.33-19.52,18.143-27.886
                      c14.427-25.075-5.135-59.368-5.135-59.368S172.571,45.356,163.193,28.089c-9.385-17.263-25.411-12.59-25.411-12.59l22.353,189.991
                      l-60.474,13.283L67.962,17.596c0,0-10.891,1.751-15.342,10.935c-8.537,17.607-27.455,197.181-21.58,223.293
                      C35.736,272.708,72.887,275.248,91.984,298.159z"/>
                </clipPath>
            </defs>
          </svg>

          </div> -->


            <img class="stitch" src="http://rudes.de/images/obj2.svg">

            <img class="letters" src="http://rudes.de/images/obj3.svg">

            <img class="bar" src="http://rudes.de/images/bar.svg">


    		</section>


    		<section class="secondary">
    			<% include partials/content/quote.ejs %>
    		</section>




    	<% include partials/template/footer.ejs %>
      	<% include partials/template/jsdefaults.ejs %>






      <script>


        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61681464-1', 'auto');
        ga('send', 'pageview');

      </script>


  </body>
</html>
