

<footer>

	<p>CALL ME MAYBE<br/><a href="tel:1-323-356-3752">323 356 3752</a><br/><a href="mailto:rrudy90023@gmail.com?Subject=Call%20me%20maybe" target="_top">rrudy90023@gmail.com</a></p>

	<div class="footicon"><a href="http://github.com/rrudy90023" target="_blank"><img src="http://rudes.de/images/git.svg"></a></div>
	<div class="footicon"><a href="http://instagram.com/rrudy90023" target="_blank"><img src="http://rudes.de/images/insta.svg"></a></div>
	<div class="footicon"><a href="http://twitter.com/rudy90023" target="_blank"><img src="http://rudes.de/images/twit.svg"></a></div>

</footer>