<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" /> -->
<link rel="stylesheet" type="text/css" href="stylesheets/set1.css" />
<script src="/javascripts/masonry.pkgd.min.js"></script>
<script src="/javascripts/imagesloaded.js"></script>
<script src="/javascripts/classie.js"></script>
<script src="/javascripts/AnimOnScroll.js"></script>
<script src="/javascripts/modernizr.custom.js"></script>
      <script type="text/javascript">

        function myLoader() {


          document.getElementById("coat").style.display = "none";


   //          fadeOut('coat');

			// function fadeOut(id,val){
			//   if(isNaN(val)){ val = 9;}
			//   document.getElementById(id).style.opacity='0.'+val;
			//   //For IE
			//   document.getElementById(id).style.filter='alpha(opacity='+val+'0)';
			//   if(val>0){
			//     val--;
			//     setTimeout('fadeOut("'+id+'",'+val+')',90);
			//   }else{return;}
			// }






        }


      </script>

<!-- <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"> -->
<meta content="minimal-ui, width=device-width, initial-scale=1" name="viewport">