<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
<script src="/javascripts/masonry.pkgd.min.js"></script>
<script src="/javascripts/imagesloaded.js"></script>
<script src="/javascripts/classie.js"></script>
<script src="/javascripts/AnimOnScroll.js"></script>
<script src="/javascripts/modernizr.custom.js"></script>


<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">