<header>
	<div class="nav">

		<div class="logo">
			<a href="/">
				<img src="http://rudes.de/images/logo.svg">
			</a>
		</div>

		<ul>
			<li><a href="/work">WORK</a></li>
			<li><a href="/profile">PROFILE</a></li>
		</ul>
	</div>
</header>