<header>
	<div class="nav">
		<div class="logo">
			<a href="/">
				<img src="http://rudes.de/images/logo.svg">
			</a>
		</div>

		<ul>
			<li><a href="#"  class="burger" id="trigger-overlay">&#9776;</a></li>
<!-- 			<li><a href="/work">WORK</a></li>
			<li><a href="/profile">PROFILE</a></li> -->
		</ul>
	</div>
</header>

    <div class="overlay overlay-scale" id="temp">
      <button type="button" class="overlay-close">Close</button>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/work">Work</a></li>
        </ul>
      </nav>
		<div class="soc-over">
			<div class="footicon"><a href="http://github.com/rrudy90023" target="_blank"><img src="http://rudes.de/images/git.svg"></a></div>
			<div class="footicon"><a href="http://instagram.com/rrudy90023" target="_blank"><img src="http://rudes.de/images/insta.svg"></a></div>
			<div class="footicon"><a href="http://twitter.com/rudy90023" target="_blank"><img src="http://rudes.de/images/twit.svg"></a></div>
			<div class="footicon"><a href="http://rudes.de/blog/" target="_blank"><img src="http://rudes.de/images/word.svg"></a></div>
		</div>
    </div>

    <script src="/javascripts/demo.js"></script>