@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 'Cabin', sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 1.2rem;
  line-height: 160%;
  background: #fff;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  color: #000;

}

h1 {
  font-size: 2.2rem;
  color: #000;
  margin-bottom: .4rem;

  padding-top: 10px;
}

h2 {
  font-size: 1.5rem;
  line-height: 100%;
  margin: 20px 0 0 0;
  color: #bd3613;
}

h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: #bd3613;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

p {
  font-family: 'Cabin', sans-serif;
/*  margin-bottom: 10px;*/
}

.small {
  font-size: 1rem;
  color: #2176c7;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.layout {
  *zoom: 1;
  max-width: 100%;
  _width: 100%;
/*  padding-left: 1em;
  padding-right: 1em;*/
  margin-left: auto;
  margin-right: auto;
}

/*.layout:after {
  content: "";
  display: table;
  clear: both;
}*/

header {
height: 100px;

}

svg{
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}


.nav {
  width: 100%;
  height: 100px;

}

.nav > ul {
/*  max-width: 60%;*/
  height: 80px;
}

.nav > ul li{
  float: right;
  margin-right: 4%;
  margin-top: 20px;
  display: inline-block;
}

.logo {
  float: left;
  height: 80px;
  margin-left: 23px;
  margin-top: 4px;
  width: 100px;
}

.logo > a > img {
  max-width:45%;

}


.primary {
  background-color: #f99d5f;
  display: block;
  height: 0;
  padding-bottom: 60%;
  text-align: center;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.bar {
    left: 47%;
    top: -21%;
    position: absolute;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    width: 4%;
    z-index: 5;
    -webkit-animation: mybar 17s; /* Chrome, Safari, Opera */
    animation: mybar 17s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes mybar {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(47deg);}
}

/* Standard syntax */
@keyframes mybar {
    from {transform: rotate(0deg);}
    to {transform: rotate(47deg);}
}



.stitch {
    left: -42%;
    top: 83%;
    position: absolute;
    width: 84%;
    display: block;
    z-index: 2

}





.letters {
   left: 66%;
    top: 25.5%;
    position: absolute;
    width: 66%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    z-index: 2;

}



.svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
}



#part2 {
    left: 45%;
    margin-top: 2%;
    position: absolute;
    width: 40%;
    z-index: 4;
    transform: rotate(10deg);
    -webkit-transform: rotate(0deg);
    -webkit-animation: gray 16s; /* Chrome, Safari, Opera */
    animation: gray 16s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
/*    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath); */

}


/* Chrome, Safari, Opera */
@-webkit-keyframes gray {
    from {-webkit-transform: rotate(10deg);}
    to {-webkit-transform: rotate(0deg);}
}

/* Standard syntax */
@keyframes gray {
    from {transform: rotate(10deg);}
    to {transform: rotate(0deg);}
}




/*.move {

display: block;
left: 0px;
position: absolute;
z-index: 3;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
top: 0px;
width: 100%;
height: 100%;
}

.move img {

top: 0px;
width: 100%;
height: 100%;
display: block;
left: 0px;
position: absolute;
z-index: 3;
}*/


#part {
    left: 0;
    top: -18%;
    position: absolute;
    transform: rotate(-15deg);
    width: 50%;
    -webkit-animation: myfirst 18s; /* Chrome, Safari, Opera */
    animation: myfirst 18s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {-webkit-transform: rotate(-15deg);}
    to {-webkit-transform: rotate(0deg);}
}

/* Standard syntax */
@keyframes myfirst {
    from {transform: rotate(-15deg);}
    to {transform: rotate(0deg);}
}


.secondary {
  width: 100%;
  font-size: 1.2rem;
  background-color: #C1D4E0;
  position: relative;
  text-align: justify;
  height: 200px;
}

.secondary p {

  left: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  padding-top: 43px;
  right: auto;
}

.wgrid ul{

  text-align: center;
}

.wgrid {
  width: 100%;
  background-color: #ebebeb;
  display: block;
  text-align: center;
}

.wgrid span {
  font-family: 'Cabin', sans-serif;
  font-size: 1.2rem;
  line-height: 160%;
  background: #fff;
  color: #000;
  text-align: left;
}

.tableft {
  padding: 5%;
  text-align: left;
}

/*.coholder {
  display: inline-block;
  width: 49%;
}


.coholder > img {
  max-width: 100%;
}


.coholder2 {
  display: inline-block;
  max-width: 100%;
}


.coholder2 > img {
  max-width: 100%;
}*/


footer {
  color: #000;
  background: #fff;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  position: relative;
  text-align: center;
}



