<div class="profile">
	<span class="greet">Guten tag</span>
		<div class="container">
			<img src="http://rudes.de/images/me.png">

			<div class="holder">
			<p class="para">Throughout my professional career, I have been involved in creating great interactive experiences for the web, mobile and other forms of digital content. Software engineering and UX design run parallel to my personal interests, and my passion holds strong today. I acknowledge the importance of agile, scalable, and optimized architecture design. Combined with great UX/UI design where users are introduced to great experiences that are visually appealing and engaging.</p>
			</div>
		</div>
</div>