<div class="profile">
	<span class="greet">GUTEN TAG</span>
		<div class="container">
			<img src="/images/me.png">

			<div class="holder">
			<p class="para">My name is Rudy Perez. I was born and raised in Los Angeles. I am a programmer and an enthuasist of many things. I am always expoloring so I guess that makes me a nomad.</p>
			</div>
		</div>
</div>