<div class="wgrid">
	<h1>WORK</h1>
		<% appdata.works.forEach(function(item){ %>
			<a href="/work/<%= item.namecase %>" class="coholder"><img src="http://rudes.de/images/<%= item.namecase %>.jpg"><p><%= item.namecase%></p></a>
		<% });  %>
</div>