<div class="wgrid">
	<span class="worktitle" >WORK</span>
		<% appdata.works.forEach(function(item){ %>
			<a href="/work/<%= item.namecase %>" class="coholder"><img src="http://rudes.de/images/<%= item.namecase %>.jpg"><p><%= item.namecase%></p></a>
		<% });  %>
</div>