<div class="wgrid">
	<h1>WORK</h1>
	


		<% appdata.companies.forEach(function(item){ %>
			<a href="<%= item.url %>" class="coholder"><img src="<%= item.img %>" alt="<%= item.company%>"> </a>

		<% });  %>





</div>