<p>
	My name is Rudy Perez, a native Angeleno currently living in Koreatown. I am a programmer and an enthuasist of many things. I've been making digital online content for big agencies and companies for more than 12 years.

</p>