<p>
My name is Rudy Perez, a native Angeleno currently living in Boyle Heights. I am a programmer and an enthusiast of many things. I've been making digital content for big agencies and companies for more than 14 years.

</p>