<p>
My name is Rudy Perez, a native Angeleno currently living in Koreatown. I am a programmer and an enthusiast for many things. I've been making online digital content for big agencies and companies for more than 12 years.

</p>